@media screen and (min-width: 768px) 
{
    .mollie_methods
    {
        overflow: hidden;
        width: 100%;
    }
    .mollie_methods p.payment_module
    {
        margin-top: 0px;
        width: 49%;
        padding-right: 1%;
        float: left;
    }
    .mollie_methods p.payment_module_right 
    {
        padding-right: 0px;
    }
}

.mollie_methods p.payment_module:only-of-type 
{
    width: 100%;
    padding-right: 0%;
} 

.mollie_methods p.payment_module a
{
    padding-left: 1px;
    padding-right: 40px;
}
.mollie_image
{
    margin-left: 26px;
    padding-right: 20px;
}
.mollie_image_big
{
    margin-left: 6px;
}
.mollie_margin
{
    display: block;
    float: left;
    width: 96px;
}
.mollie_issuers
{
    display: block;
    color: #333333;
    padding-left: 96px;
}
.mollie_issuers select, .mollie_issuers input
{
    border: 1px solid #D6D4D4;
    border-radius: 4px;
    background: #FBFBFB;
    height: 20px;
}
.mollie_refund
{
    background-color: #EBEDF4;
    border: 1px solid #CCCED7;
    color: #585A69;
    font-size: 1.1em;
    margin: 0;
    margin-top: 25px;
    padding: 1em;
    padding-top: 20px;
    position: relative;
}
.mollie_refund_message
{
    background: none repeat scroll 0 0 #EBEDF4;
    border: 1px solid #CCCED7;
    font-weight: 700;
    padding: 0.2em 0.5em;
    text-align: left;
    display: inline;
    margin: 0;
    position: absolute;
    top: -10px;
}
.mollie_refund_message img
{
    margin-right: 10px;
}
.mollie_refund_button
{
    background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    cursor: pointer;
    margin: 0;
    outline: medium none;
    padding: 3px 8px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    vertical-align: middle;
    white-space: nowrap;
}
.mollie_refund_button:hover
{
    border: 1px solid #939393;
}
.mollie_refund_fail
{
    font-weight: bold;
    color: #e9322d;
}
.mollie_refund_success
{
    font-weight: bold;
    color: #46a546;
}
.mollie_refund_details
{
    font-size: small;
}
.mollie_refund_desc
{
    margin-bottom: 10px;
}