#DEV=development
#TEST=test shop
#PRE_PROD=preprod shop
#GITHUB=module from github
#MARKETPLACE=module from marketplace
MODULE_ENV='GITHUB'

# Segment Analytics API Key (optional)
SEGMENT_API_KEY='your_segment_write_key_here'
