includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
  - %currentWorkingDirectory%/tests/phpstan/phpstan_base.neon

parameters:
  excludes_analyse:
    - ../../controllers/front/ajax.php
    - ../../src/Command
    - ../../src/Grid/*
    - ../../src/Controller/AdminMollieEmailController

  level: 5
