includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
  - %currentWorkingDirectory%/tests/phpstan/phpstan_base.neon

parameters:
  excludes_analyse:
    - ../../controllers/front/ajax.php
    - ../../src/Command
    - ../../src/Grid/*
    - ../../src/Controller/AdminMollieEmailController
  ignoreErrors:
    - '#Access to an undefined property AdminController\|FrontController::\$warning.#'
    - '#Parameter \#4 \$templateVars of static method MailCore::send\(\) expects string, array<string, mixed> given.#'
    - '#Parameter \#4 \$templateVars of static method MailCore::send\(\) expects string, array given.#'
    - '#Parameter \#4 \$template_vars of static method MailCore::Send\(\) expects string, array given.#'
    - '#Parameter \#4 \$template_vars of static method MailCore::Send\(\) expects string, array<string, mixed> given.#'
    - '#Call to an undefined method AdminController\|FrontController::registerJavascript\(\).#'
    - '#PHPDoc tag \@throws with type PrestaShop\\PrestaShop\\Core\\Localization\\Exception\\LocalizationException\|PrestaShopException is not subtype of Throwable#'
    - '#Call to method setCallToActionText\(\) on an unknown class PrestaShop\\PrestaShop\\Core\\Payment\\PaymentOption.#'
    - '#Call to method setInputs\(\) on an unknown class PrestaShop\\PrestaShop\\Core\\Payment\\PaymentOption.#'
    - '#Instantiated class PrestaShop\\PrestaShop\\Core\\Payment\\PaymentOption not found.#'
    - '#Call to method setAdditionalInformation\(\) on an unknown class PrestaShop\\PrestaShop\\Core\\Payment\\PaymentOption.#'
    - '#Call to method setAction\(\) on an unknown class PrestaShop\\PrestaShop\\Core\\Payment\\PaymentOption.#'
    - '#Call to method setModuleName\(\) on an unknown class PrestaShop\\PrestaShop\\Core\\Payment\\PaymentOption.#'
    - '#Call to method setLogo\(\) on an unknown class PrestaShop\\PrestaShop\\Core\\Payment\\PaymentOption.#'
    - '#Return typehint of method Mollie\\Provider\\PaymentOption\\[a-zA-Z0-9\\_]::getPaymentOption\(\) has invalid type PrestaShop\\PrestaShop\\Core\\Payment\\PaymentOption.#'
    - '#Return typehint of method Mollie\\Handler\\PaymentOption\\[a-zA-Z0-9\\_]::getPaymentOption\(\) has invalid type PrestaShop\\PrestaShop\\Core\\Payment\\PaymentOption.#'
