includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  autoload_directories:
    - %currentWorkingDirectory%/vendor
  paths:
    - ../../src
    - ../../controllers
    - ../../mollie.php
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  ignoreErrors:
    - '#Property TabCore::\$name \(string\) does not accept array.#'
    - '#Parameter \#4 \$ssl of method LinkCore::getModuleLink\(\) expects null, true given.#'
    - '#Call to an undefined method FrontController::getTemplateVarProduct\(\).#'
    - '#Call to an undefined method FrontController::getCategory\(\).#'
    - '#Call to protected method getBreadcrumbLinks\(\) of class FrontControllerCore.#'
    - '#Call to an undefined method Customer::getSimpleAddresses\(\).#'
    - '#Call to an undefined method FrontController::registerJavascript\(\).#'
    - '#Call to an undefined method FrontController::getBreadcrumbLinks\(\).#'
    - '#Parameter \#1 \$app_id of static method FacebookAds\Api::init\(\) expects string, null given.#'
    - '#Parameter \#2 \$app_secret of static method FacebookAds\Api::init\(\) expects string, null given.#'
    - '#Parameter \#1 \$gender of method FacebookAds\\Object\\ServerSide\\UserData::setGender\(\) expects FacebookAds\\Object\\ServerSide\\FacebookAds\\Object\\ServerSide\\Gender, string given.#'
    - '#Parameter \#1 \$custom_data of method FacebookAds\\Object\\ServerSide\\Event::setCustomData\(\) expects FacebookAds\\Object\\ServerSide\\FacebookAds\\Object\\ServerSide\\CustomData, FacebookAds\\Object\\ServerSide\\CustomData given.#'
    - '#Parameter \#1 \$user_data of method FacebookAds\\Object\\ServerSide\\Event::setUserData\(\) expects FacebookAds\\Object\\ServerSide\\FacebookAds\\Object\\ServerSide\\UserData, FacebookAds\\Object\\ServerSide\\UserData given.#'
    - '#Parameter \#1 \$events of method FacebookAds\\Object\\ServerSide\\EventRequest::setEvents\(\) expects array<FacebookAds\\Object\\ServerSide\\FacebookAds\\Object\\ServerSide\\Event>, array<int, FacebookAds\\Object\\ServerSide\\Event> given.#'
    - '#Parameter \#1 \$app_id of static method FacebookAds\\Api::init\(\) expects string, null given.#'
    - '#Parameter \#2 \$app_secret of static method FacebookAds\\Api::init\(\) expects string, null given.#'
    - '#Parameter \#1 \$id of class MolPaymentMethod constructor expects int|null, string|false|null given.#'
    - '#Class OrderOpcControllerCore not found.#'
    - '#Variable \$payment in PHPDoc tag @var does not match assigned variable \$order.#'
    - '#Variable \$payment in PHPDoc tag @var does not match assigned variable \$apiPayment.#'
    - '#Parameter \#1 \$id of class [a-zA-Z0-9_]+ constructor expects null, int given.#'
    - '#Parameter \#1 \$id of class [a-zA-Z0-9_]+ constructor expects null, int<min,-1>|int<1, max> given.#'
    - '#Parameter \#1 \$id of class [a-zA-Z0-9_]+ constructor expects null, mixed given.#'


  level: 5
