parameters:
  scanDirectories:
    - %currentWorkingDirectory%/vendor
  paths:
    - ../../src
    - ../../controllers
    - ../../mollie.php
  excludes_analyse:
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  ignoreErrors:
    - '#Parameter \#1 \$id of class MolPaymentMethod constructor expects int\|null, string\|false\|null given.#'
    - '#Parameter \#4 \$ssl of method LinkCore::getModuleLink\(\) expects null, true given.#'
    - '#Class OrderOpcControllerCore not found.#'
    - '#Parameter \#4 \$ssl of method LinkCore::getModuleLink\(\) expects null, true given.#'
    - '#Call to method hookActionValidateOrder\(\) on an unknown class Ps_EmailAlerts.#'
    - '#Parameter \#1 \$id of class [a-zA-Z0-9_]+ constructor expects null, int given.#'
    - '#Parameter \#1 \$id of class [a-zA-Z0-9_]+ constructor expects null, int<min, -1>\|int<1, max> given.#'
    - '#Parameter \#1 \$id of class [a-zA-Z0-9_]+ constructor expects null, mixed given.#'
    - '#Variable \$payment in PHPDoc tag @var does not match assigned variable \$order.#'
    - '#Variable \$payment in PHPDoc tag @var does not match assigned variable \$apiPayment.#'
    - '#Parameter \#4 \$templateVars of static method MailCore::send\(\) expects string, array<string, mixed> given.#'
    - '#Parameter \#4 \$templateVars of static method MailCore::send\(\) expects string, array given.#'
    - '#Variable \$order in PHPDoc tag \@var does not match assigned variable \$mollieOrder.#'
    - '#PHPDoc tag \@var for variable \$emailAlertsModule contains unknown class Ps_EmailAlerts.#'

  level: 5
