<phpunit bootstrap="bootstrap.php"
         stopOnFailure="false"
         colors="true"
>
    <php>
        <env name="KERNEL_CLASS" value="AppKernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Integration">
          <directory>Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
