.mollie-reset-this * {
    animation: none;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background: transparent none repeat scroll 0 0;
    background-size: auto auto;
    border-collapse: separate;
    border-image: none;
    border-spacing: 0;
    border-radius: 0;
    border: medium none inherit;
    bottom: auto;
    box-shadow: none;
    box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    columns: auto;
    column-count: auto;
    column-fill: balance;
    column-gap: normal;
    column-rule: medium none currentColor;
    column-rule-color: currentColor;
    column-rule-style: none;
    column-rule-width: unset;
    column-span: 1;
    column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: block;
    empty-cells: show;
    float: none;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size: medium;
    height: auto;
    hyphens: none;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    list-style: disc outside none;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    orphans: 0;
    outline: none;
    overflow: visible;
    padding: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    perspective: none;
    perspective-origin: 50% 50%;
    position: static;
    quotes: "\201C" "\201D" "\2018" "\2019";
    right: auto;
    tab-size: 8;
    table-layout: auto;
    text-align: inherit;
    text-align-last: auto;
    text-decoration: none;
    text-decoration-color: inherit;
    text-decoration-style: solid;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transform-style: flat;
    transition: none;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 0;
    width: auto;
    word-spacing: normal;
    word-break: break-word;
    z-index: auto;
}

.mollie-reset-this script, .mollie-reset-this style {
    display: none;
}

.mollie-title {
    font-size: 16px;
    font-weight: 700;
}

.mollie_btn_primary {
    font-size: 16px!important;
    color: white!important;
    background-color: #2fb5d2;
    max-width: 200px;
    margin: 0 auto;
    text-decoration: none!important;
    font-weight: 700!important;
    padding: 5px;
}

.mollie_btn_primary:hover {
    background-color: #2592a9!important;
    cursor: pointer;
}

.mollie_text_center {
    text-align: center;
}

.mollie_button {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .2);
    text-transform: uppercase;
    width: 150px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    margin: 2px;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 0;
    border: 2px solid #fff;
    background: border-box;
}

.mollie_button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .6);
}

.mollie_button > img {
    margin: 0 auto;
}

.mollie_button * {
    cursor: pointer;
}
