.mollie_ideal_ABNANL2A:before select {
    width: 55px;
    height: 37px;
    background: url('https://www.mollie.com/images/checkout/v2/ideal-issuer-icons/ABNANL2A%402x.png') no-repeat 0 -346px;
    overflow: hidden;
    display: block;
}

.mollie_ideal_ASNBNL21:before select {
    width: 55px;
    height: 37px;
    background: url('https://www.mollie.com/images/checkout/v2/ideal-issuer-icons/ASNBNL21%402x.png') no-repeat 0 -346px;
    overflow: hidden;
    display: block;
}

.mollie_ideal_BUNQNL2A:before select {
    width: 55px;
    height: 37px;
    background: url('https://www.mollie.com/images/checkout/v2/ideal-issuer-icons/BUNQNL2A%402x.png') no-repeat 0 -346px;
    overflow: hidden;
    display: block;
}

.mollie_ideal_INGBNL2A:before select {
    width: 55px;
    height: 37px;
    background: url('https://www.mollie.com/images/checkout/v2/ideal-issuer-icons/INGBNL2A%402x.png') no-repeat 0 -346px;
    overflow: hidden;
    display: block;
}

.mollie_ideal_KNABNL2H:before select {
    width: 55px;
    height: 37px;
    background: url('https://www.mollie.com/images/checkout/v2/ideal-issuer-icons/KNABNL2H%402x.png') no-repeat 0 -346px;
    overflow: hidden;
    display: block;
}

.mollie_ideal_RABONL2U:before select {
    width: 55px;
    height: 37px;
    background: url('https://www.mollie.com/images/checkout/v2/ideal-issuer-icons/RABONL2U%402x.png') no-repeat 0 -346px;
    overflow: hidden;
    display: block;
}

.mollie_ideal_RBRBNL21:before select {
    width: 55px;
    height: 37px;
    background: url('https://www.mollie.com/images/checkout/v2/ideal-issuer-icons/RBRBNL21%402x.png') no-repeat 0 -346px;
    overflow: hidden;
    display: block;
}

.mollie_ideal_SNSBNL2A:before select {
    width: 55px;
    height: 37px;
    background: url('https://www.mollie.com/images/checkout/v2/ideal-issuer-icons/SNSBNL2A%402x.png') no-repeat 0 -346px;
    overflow: hidden;
    display: block;
}

.mollie_ideal_IONL2U:before select {
    width: 55px;
    height: 37px;
    background: url('https://www.mollie.com/images/checkout/v2/ideal-issuer-icons/IONL2U%402x.png') no-repeat 0 -346px;
    overflow: hidden;
    display: block;
}

.mollie_ideal_FVLBNL22:before select {
    width: 55px;
    height: 37px;
    background: url('https://www.mollie.com/images/checkout/v2/ideal-issuer-icons/FVLBNL22%402x.png') no-repeat 0 -346px;
    overflow: hidden;
    display: block;
}

/****Mollie switch****/
label.mollie_switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
}

.mollie_switch input {
    display: none;
}

.mollie_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.mollie_slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.mollie_slider {
    width: 60px;
    height: 24px;
}

input:checked + .mollie_slider {
    background-color: #0c95fd;
}

input:focus + .mollie_slider {
    box-shadow: 0 0 1px #0c95fd;
}

input:checked + .mollie_slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.mollie-slider {
    height: 24px;
}
