services:
  _defaults:
    public: true

  Mollie:
    class: 'Mollie'
    factory: ['Module', 'getInstanceByName']
    arguments:
      - 'mollie'

  Mollie\Subscription\Grid\SubscriptionGridQueryBuilder:
    class: Mollie\Subscription\Grid\SubscriptionGridQueryBuilder
    parent: 'prestashop.core.grid.abstract_query_builder'
    arguments:
      - '@prestashop.core.query.doctrine_search_criteria_applicator'
    public: true

  Mollie\Subscription\Grid\SubscriptionGridDefinitionFactory:
    class: 'Mollie\Subscription\Grid\SubscriptionGridDefinitionFactory'
    parent: 'prestashop.core.grid.definition.factory.abstract_grid_definition'
    arguments:
      - '@Mollie'
      - '@Mollie\Subscription\Grid\Accessibility\SubscriptionCancelAccessibility'
    public: true

  subscription_grid_data_factory:
    class: '%prestashop.core.grid.data.factory.doctrine_grid_data_factory%'
    arguments:
      - '@Mollie\Subscription\Grid\SubscriptionGridQueryBuilder'
      - '@prestashop.core.hook.dispatcher'
      - '@prestashop.core.grid.query.doctrine_query_parser'
      - 'invertus_mollie_subscription'

  subscription_grid_factory:
    class: 'PrestaShop\PrestaShop\Core\Grid\GridFactory'
    arguments:
      - '@Mollie\Subscription\Grid\SubscriptionGridDefinitionFactory'
      - '@subscription_grid_data_factory'
      - '@prestashop.core.grid.filter.form_factory'
      - '@prestashop.core.hook.dispatcher'

  Mollie\Subscription\Grid\Accessibility\SubscriptionCancelAccessibility:
    class: Mollie\Subscription\Grid\Accessibility\SubscriptionCancelAccessibility

  carrier_options_provider:
    class: Mollie\Subscription\Form\ChoiceProvider\CarrierOptionsProvider
    public: true
    arguments:
      - '@Mollie'

  subscription_options_configuration:
    class: Mollie\Subscription\Form\Options\SubscriptionOptionsConfiguration
    arguments:
      - '@prestashop.adapter.legacy.configuration'

  subscription_options_data_provider:
    class: Mollie\Subscription\Form\Options\SubscriptionOptionsDataProvider
    arguments:
      - '@subscription_options_configuration'

  subscription_options_type:
    class: Mollie\Subscription\Form\Options\SubscriptionOptionsType
    parent: 'form.type.translatable.aware'
    public: true
    arguments:
      - '@carrier_options_provider'
      - '@Mollie'
    tags:
      - { name: form.type }

  subscription_options_form_handler:
    class: 'PrestaShop\PrestaShop\Core\Form\Handler'
    arguments:
      - '@form.factory'
      - '@prestashop.core.hook.dispatcher'
      - '@subscription_options_data_provider'
      - 'Mollie\Subscription\Form\Options\SubscriptionOptionsType'
      - 'SubscriptionsOptions'

  # NOTE: works for PS < 1.7.8
  subscription_options_form_handler_deprecated:
    class: 'PrestaShop\PrestaShop\Core\Form\FormHandler'
    arguments:
    - '@=service("form.factory").createBuilder()'
    - '@prestashop.core.hook.dispatcher'
    - '@subscription_options_data_provider'
    -
      'subscription_options_type': 'Mollie\Subscription\Form\Options\SubscriptionOptionsType'
    - 'SubscriptionsOptions'
