.mollie-input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.mollie-input-file + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.mollie-input-file:focus + label,
.mollie-input-file + label:hover {
    background-color: red;
}

.mollie-input-file + label {
    cursor: pointer; /* "hand" cursor */
}
