{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "@mollie/eslint-config-react"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "jsx": true,
    "useJSXTextNode": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "plugins": [
    "import",
    "@typescript-eslint",
    "react-hooks"
  ],
  "rules": {
    "@typescript-eslint/interface-name-prefix": [
      "error",
      "always"
    ],
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "@typescript-eslint/array-type": [
      "error",
      "generic"
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "react-hooks/rules-of-hooks": "error",
    "no-console": "off"
  },
  "overrides": [
    {
      "files": "*.[jt]s"
    },
    {
      "files": "*.[jt]sx"
    }
  ]
}
