<phpunit bootstrap="bootstrap.php"
         stopOnFailure="true"
>
    <php>
        <env name="KERNEL_CLASS" value="AppKernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>

    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>.</directory>
        </testsuite>
    </testsuites>
</phpunit>
