name: Cypress test run MOLLIE
on:
  pull_request:
    types: [opened, reopened]
    branches: [master, v*.*.*]
jobs:
  Cypress-E2E:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - prestashop: 'PS1784'
            make: 'make e2eh1784'
            wipdemoshop: 'wipdemoshop1784'
            port: '8002'
            yml: 'docker-compose.1784.yml'
            url: 'https://wipdemoshop1784.eu.ngrok.io'
            test_spec: '**/cypress/e2e/ps1784/**'
          - prestashop: 'PS8'
            make: 'make e2eh8'
            wipdemoshop: 'wipdemoshop8'
            port: '8002'
            yml: 'docker-compose.8.yml'
            url: 'https://wipdemoshop8.eu.ngrok.io'
            test_spec: '**/cypress/e2e/ps8/**'
    env:
      NGROK_TOKEN: ${{ secrets.NGROK_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.0
      - run: wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
        shell: bash
      - run: unzip -qq -o ngrok-stable-linux-amd64.zip
        shell: bash
      - run: ./ngrok authtoken ${{ secrets.NGROK_TOKEN }}
        shell: bash
      - run: ./ngrok http -region=eu -subdomain=${{ matrix.wipdemoshop }} ${{ matrix.port }} > ngrok.log &
        shell: bash
      - name: Install composer
        run: composer i

      - name: Install package
        run: |
          npm ci
          npm update
          npx browserslist@latest --update-db

      - name: ${{ matrix.prestashop }} installing / Module Install and Uninstall testing
        run: |
          ${{ matrix.make }}

      - name: Running ${{ matrix.prestashop }} Cypress E2E tests
        run: docker run -i -v $PWD:/e2e -w /e2e -e CYPRESS_baseUrl='${{ matrix.url }}' -e CYPRESS_MOLLIE_TEST_API_KEY=${{ secrets.MOLLIE_TEST_API_KEY }} -e CYPRESS_MOLLIE_TEST_PROFILE_ID=${{ secrets.MOLLIE_TEST_PROFILE_ID }} cypress/included:cypress-12.4.1-node-16.18.1-chrome-109.0.5414.74-1-ff-109.0-edge-109.0.1518.52-1 --browser chrome #cypress/included:12.4.1

      - name: Archive videos and screenshots
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: videos_screenshots
          retention-days: 2
          path: |
            cypress/videos
            cypress/screenshots
