name: Module upgrade / downgrade testing (last version > v.5.2.0 > `develop` version)
on:
  pull_request:
    types: [opened, reopened]
    branches: [develop, develop**, develop-**]
jobs:
  Module-upgrading-check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - prestashop: 'PS1785'
            make: 'make e2eh1784'
            port: '8002'
            yml: 'docker-compose.1784.yml'
            ModuleUpgradeTest: 'make upgrading-module-test-1784'
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3

      - name: Install composer
        run: composer update

      - name: ${{ matrix.prestashop }} installing
        run: |
          ${{ matrix.make }}

      - name: Testing if module upgrades after older module installation into ${{ matrix.prestashop }}
        run:  ${{ matrix.ModuleUpgradeTest }}
